pkgbase = hyponoia
	pkgdesc = Code context engine for AI coding agents — indexes repositories into a queryable graph and returns exact code spans instead of whole files
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/patalbansishashank/hyponoia
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = hyponoia
	conflicts = hyponoia
	source_x86_64 = hyponoia-0.3.1-linux-amd64.tar.gz::https://github.com/patalbansishashank/hyponoia/releases/download/v0.3.1/hyponoia-ui-linux-amd64.tar.gz
	sha256sums_x86_64 = c4fa4ef5f62736092695f1c9fcaae23d38d78746e5aa79070e0a07e21c52fa6f
	source_aarch64 = hyponoia-0.3.1-linux-arm64.tar.gz::https://github.com/patalbansishashank/hyponoia/releases/download/v0.3.1/hyponoia-ui-linux-arm64.tar.gz
	sha256sums_aarch64 = 946d60367968507503cb74531cdc0079b935f81beff5e9a36ce8171e5bfed1ae

pkgname = hyponoia
