pkgbase = hyponoia
	pkgdesc = Code context engine for AI coding agents — indexes repositories into a queryable graph and returns exact code spans instead of whole files
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/patalbansishashank/hyponoia
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = hyponoia
	conflicts = hyponoia
	source_x86_64 = hyponoia-0.3.0-linux-amd64.tar.gz::https://github.com/patalbansishashank/hyponoia/releases/download/v0.3.0/hyponoia-ui-linux-amd64.tar.gz
	sha256sums_x86_64 = baecf99e5ad46976d75a96ffd2a71a145e68b09710a2b32f983a4202afc73d60
	source_aarch64 = hyponoia-0.3.0-linux-arm64.tar.gz::https://github.com/patalbansishashank/hyponoia/releases/download/v0.3.0/hyponoia-ui-linux-arm64.tar.gz
	sha256sums_aarch64 = 5fa1342d7ebfb00e32048fcf39bf21a7314a0a07af3a7e045a46ecea0303b720

pkgname = hyponoia
